.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
  }

  &__link {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 18px;
    color: #060b35;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: color 300ms;

    &:hover {
      color: #00acdc;
    }

    &.is-active {
      color: #00acdc;
      border-bottom: 3px solid #00acdc;
    }
  }
}
